.foot {
    text-align: center;
    margin: 0px auto 30px;
    width: 100%;
    height: 50px;
}

.hosters_logo {
    font-family: "ADLaM Display";
    margin-top: 1rem;
}
.hosters_footer_button {
    font-size: 0.6rem;
    cursor: pointer;
    font-family: "Pretendard";
    font-weight: 300;
}
.hosters_footer_button a {
    color: black;
    text-decoration: none;
}
.hosters_footer_button a:hover {
    text-decoration: underline;
}
