.radio {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
}
[type="radio1"] {
    margin-left: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: white;
    background-color: #ff7a0033;
    border: 5px #ff7a00 solid;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
[type="radio1"]:checked {
    background-color: #ff7a00 solid;
}
[type="radio1"]:focus-visible {
    background-color: #ff7a00;
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em);
}
[type="radio1"]:hover {
    background-color: #ff7a00;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

[type="radio2"] {
    margin-left: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: white;
    background-color: #ff5b1b33;
    border: 5px #ff5b1b solid;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
[type="radio2"]:checked {
    background-color: #ff5b1b solid;
}
[type="radio2"]:focus-visible {
    background-color: #ff5b1b;
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em);
}
[type="radio2"]:hover {
    background-color: #ff5b1b;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

[type="radio3"] {
    margin-left: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: white;
    background-color: #ff3d3633;
    border: 5px #ff3d36 solid;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
[type="radio3"]:checked {
    background-color: #ff3d36 solid;
}
[type="radio3"]:focus-visible {
    background-color: #ff3d36;
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em);
}
[type="radio3"]:hover {
    background-color: #ff3d36;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

[type="radio4"] {
    margin-left: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: white;
    background-color: #ff1f5033;
    border: 5px #ff1f50 solid;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
[type="radio4"]:checked {
    background-color: #ff1f50 solid;
}
[type="radio4"]:focus-visible {
    background-color: #ff1f50;
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em);
}
[type="radio4"]:hover {
    background-color: #ff1f50;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

[type="radio5"] {
    margin-left: 15px;
    margin-right: 15px;
    appearance: none;
    background-color: white;
    background-color: #ff006b33;
    border: 5px #ff006b solid;
    backdrop-filter: blur(4px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
[type="radio5"]:checked {
    background-color: #ff006b solid;
}
[type="radio5"]:focus-visible {
    background-color: #ff006b;
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em);
}
[type="radio5"]:hover {
    background-color: #ff006b;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
