{% extends 'base.html' %} {% load static %} {% load socialaccount %}
<link rel="stylesheet" href="../../../static/css/login.css" />
{% block content %}
<body>
    <h1>login_page</h1>
    {% if user.is_authenticated %}
    <meta
        http-equiv="Refresh"
        content="3; url='http://127.0.0.1:8000/hosters/main/'"
    />
    {% else %}
    <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button>Google Login</button>
    </form>
    {% endif %}
</body>
{% endblock %}
