<link rel="stylesheet" href="../../../static/css/login.css" />
{% extends 'base.html' %} {% load static %} {% block content %}
<body>
    {% load socialaccount %} {% if user.is_authenticated %}
    <meta
        http-equiv="Refresh"
        content="3; url='http://127.0.0.1:8000/hosters/main/'"
    />
    {% else %}
    <div class="login_box">
        <h1 id="title1">Hosters</h1>
        <span id="title2">University</span>
        <div class="slo">
            <h2>기숙사, 자취, 등..</h2>
            <p>대학교 공동 생활을 위한</p>
            <h2>최고의 룸메이트 찾기 서비스</h2>
        </div>
        <form
            id="gform"
            action="{% provider_login_url 'google' %}"
            method="post"
        >
            {% csrf_token %}
            <button class="gbtn">
                <img
                    src="../../../static/imgs/googleIcon.png"
                    class="gimg"
                    alt="Google"
                />
                구글 계정으로 시작하기
            </button>
        </form>
    </div>
    {% endif %}
</body>
{% endblock %}
