<link rel="stylesheet" href="../../../static/css/login.css" />
{% extends 'base.html' %} {% load static %} {% block content %}
<body>
    {% load socialaccount %} {% if user.is_authenticated %}
    <meta
        http-equiv="Refresh"
        content="3; url='http://127.0.0.1:8000/hosters/main/'"
    />
    {% else %}
    <div class="box">
        <h1>Hosters</h1>
        <form
            id="gform"
            action="{% provider_login_url 'google' %}"
            method="post"
        >
            {% csrf_token %}
            <button class="gbtn"><span>구글로 로그인</span></button>
        </form>
    </div>
    {% endif %}
</body>
{% endblock %}
