<link rel="stylesheet" href="../../../static/css/main.css" />
{% extends 'base.html' %} {%load static%} {% block content %}
<body style="background: radial-gradient(#ffacac 41%, #ffe9e9 100%); top: 0px">
    {% include 'header.html' %}
    <div class="main_layout">
        <div class="side_flex">
            <div class="main_side" style="height: 55%">
                <div class="top_side">
                    <span>Recommendation</span>
                </div>
                <div class="list"></div>
            </div>
            <div class="main_side" style="height: 45%">
                <div class="top_side">
                    <span>Notifications</span>
                </div>
                <div class="list"></div>
            </div>
        </div>
        <div class="card_layout">
            {% for card in cards %}
            <div class="cards" id="card{{ forloop.counter }}">
                <div class="red_color"></div>
                <div class="white_color">
                    <h1>{{ card }}%</h1>
                    <form class="btn_layout" method="get" action="#">
                        <input type="submit" value="NO" name="BTN" />
                        <input type="submit" value="MORE" name="BTN" />
                        <input type="submit" value="YES" name="BTN" />
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="main_side">
            <div class="top_side">
                <span>Filters</span>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
{% endblock %}
