<link rel="stylesheet" href="../../../static/css/main.css" />
{% extends 'base.html' %} {%load static%} {% block content %}
<div class="main_layout">
    <div class="layout">
        <div class="main_card" style="height: 360px">
            <div class="top">
                <h1>Recommendation</h1>
            </div>
            <div class="list"></div>
        </div>
        <div class="main_card" style="margin-top: 20px; height: 320px">
            <div class="top">
                <h1>Notifications</h1>
            </div>
            <div class="list"></div>
        </div>
    </div>
    <div class="card_layout">
        <div class="card" style="margin-top: 0px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 60%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 50px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 65%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 100px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 70%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 150px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 75%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 200px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 80%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 250px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 85%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 300px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 90%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 350px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 95%">
                <h1>99%</h1>
            </div>
        </div>
        <div class="card" style="margin-top: 400px">
            <div class="red_color"></div>
            <div class="white_color" style="opacity: 100%">
                <h1>99%</h1>
            </div>
        </div>
    </div>
    <div class="layout">
        <div class="main_card">
            <div class="top">
                <h1>Filters</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
