<link rel="stylesheet" href="../../../static/css/main.css" />
{% extends 'base.html' %} {%load static%} {% block content %}

<body style="background: radial-gradient(#ffacac 41%, #ffe9e9 100%); top: 0px">
    {% include 'header.html' %}
    <div class="main_layout">
        <div class="side_flex">
            <div class="main_side" style="height: 55%">
                <div class="top_side">
                    <span>Recommendation</span>
                </div>
                <div class="list"></div>
            </div>
            <div class="main_side" style="height: 45%">
                <div class="top_side">
                    <span>Notifications</span>
                </div>
                <div class="list"></div>
            </div>
        </div>
        <div class="card_layout">
            <p style="padding-bottom: 50px">이제 남은 추천이 없어요.</p>
            <p>다시 돌아보려면 다시 로그인 해주세요.</p>
            {{ for card in cards }}

            <h1>Count: <span id="count-display"></span></h1>
            <button id="next-btn">Next</button>
            <div class="card-container"></div>
        </div>
        <div class="main_side">
            <div class="top_side">
                <span>Filters</span>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
{% endblock %}
