<link rel="stylesheet" href="../../../static/css/match.css" />
{% extends 'base.html' %} {%load static%} {% block content %}
<body style="background: radial-gradient(#ffacac 41%, #ffe9e9 100%); top: 0px">
    {% include 'header.html' %}
    <div class="main_layout">
        <div class="chat_layout">
            <div class="top_Chat">
                <span>김죄송</span>
            </div>
        </div>
        <div class="main_side">
            <div class="top_side">
                <span>Matches</span>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
{% endblock %}
