<link rel="stylesheet" href="../../../static/css/survey.css" />
<link rel="stylesheet" href="../../../static/css/mypage.css" />
{% extends 'base.html' %} {% load static %} {% block content %}
<div>
    {% if user.is_authenticated %}
    <form
        id="survey-form"
        method="post"
        action="{% url 'surveys:mypage_with_survey' %}"
    >
        {% csrf_token %}
        <!-- 사용자 ID를 자동으로 채워넣기 -->
        <div class="white">
            <div class="account">
                <p>Account</p>
            </div>
            <div class="checklist">
                <span>취미</span>
                <fieldset class="field">
                    <div>
                        <input
                            type="checkbox"
                            id="sports"
                            name="interest"
                            value="sports"
                        />
                        <label for="sports">스포츠</label>
                        <input
                            type="checkbox"
                            id="music"
                            name="interest"
                            value="music"
                        />
                        <label for="music">음악</label>
                        <input
                            type="checkbox"
                            id="arts_crafts"
                            name="interest"
                            value="arts_crafts"
                        />
                        <label for="arts_crafts">예술</label>
                        <input
                            type="checkbox"
                            id="reading"
                            name="interest"
                            value="reading"
                        />
                        <label for="reading">독서</label>
                    </div>
                    <div>
                        <input
                            type="checkbox"
                            id="cooking"
                            name="interest"
                            value="cooking"
                        />
                        <label for="cooking">요리</label>
                        <input
                            type="checkbox"
                            id="movies_tv"
                            name="interest"
                            value="movies_tv"
                        />
                        <label for="movies_tv">영상시청</label>
                        <input
                            type="checkbox"
                            id="gaming"
                            name="interest"
                            value="gaming"
                        />
                        <label for="gaming">게임</label>
                        <input
                            type="checkbox"
                            id="traveling"
                            name="interest"
                            value="traveling"
                        />
                        <label for="traveling">여행</label>
                    </div>
                    <div>
                        <input
                            type="checkbox"
                            id="language_learning"
                            name="interest"
                            value="language_learning"
                        />
                        <label for="language_learning">언어학습</label>
                        <input
                            type="checkbox"
                            id="outdoor_activities"
                            name="interest"
                            value="outdoor_activities"
                        />
                        <label for="outdoor_activities">아웃도어</label>
                        <input
                            type="checkbox"
                            id="fitness"
                            name="interest"
                            value="fitness"
                        />
                        <label for="fitness">피트니스</label>
                        <input
                            type="checkbox"
                            id="technology"
                            name="interest"
                            value="technology"
                        />
                        <label for="technology">기술</label>
                    </div>
                    <div>
                        <input
                            type="checkbox"
                            id="social_activities"
                            name="interest"
                            value="social_activities"
                        />
                        <label for="social_activities">사회활동</label>
                        <input
                            type="checkbox"
                            id="meditation"
                            name="interest"
                            value="meditation"
                        />
                        <label for="meditation">명상</label>
                        <input
                            type="checkbox"
                            id="pet_care"
                            name="interest"
                            value="pet_care"
                        />
                        <label for="pet_care">애완동물</label>
                    </div>
                    <div></div>
                    <div></div>
                </fieldset>
            </div>
        </div>
        <input
            type="hidden"
            name="user_id"
            id="user_id"
            value="{{ user.id }}"
        />
        <div class="survey-container">
            <div class="survey">
                <p class="question">추가된 문항입니다. 동의하십니까?</p>
                <div class="radio-group">
                    <label>
                        <input type="radio1" name="agree" value="2" />
                    </label>
                    <label>
                        <input type="radio2" name="agree" value="1" />
                    </label>
                    <label>
                        <input type="radio3" name="agree" value="0" />
                    </label>
                    <label>
                        <input type="radio4" name="agree" value="-1" />
                    </label>
                    <label>
                        <input type="radio5" name="agree" value="-2" />
                    </label>
                </div>
            </div>

            <div class="save-button">
                <button type="submit">Save</button>
            </div>
            {% else %}
            <p>
                Please <a href="/hosters/login/">login</a> to access the survey.
            </p>
            {% endif %} {% endblock %}
        </div>
    </form>
</div>
