<style>
    .title {
        margin-left: 5px;
        margin-right: 5px;
        width: 100px;
        height: 100%;
        font-size: 22px;
        font-family: Caveat;
        font-weight: 700;
        word-wrap: break-word;
    }
    .title:hover {
        opacity: 0.7;
    }
    .title:active {
        opacity: 0.5;
    }
    .title span {
        background: linear-gradient(
            180deg,
            rgba(255, 122.4, 0, 0.9) 0%,
            rgba(255, 0, 107, 0.9) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bar {
        margin: auto;
        background-color: rgb(255, 255, 255, 0.6);
        width: 600px;
        height: 100%;
        backdrop-filter: blur(20px);
        border-radius: 30px;
        text-align: center;
        box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.1);
    }
    .menu {
        margin-left: 5px;
        margin-right: 5px;
        width: 100px;
        height: 70px;
        background-color: rgb(255, 255, 255, 0);
        border: none;
        text-align: center;
        color: black;
        font-size: 16px;
        font-family: ADLaMDisplay-Regular;
        font-weight: 700;
        word-wrap: break-word;
        cursor: pointer;
    }
    .menu:hover {
        background: linear-gradient(
            117deg,
            rgba(255, 122.4, 0, 0.9) 0%,
            rgba(255, 0, 107, 0.9) 100%
        );
        box-shadow: 0px 5px 15px rgba(255, 0, 107, 0.3);
        color: white;
    }
    .menu:active {
        opacity: 0.7;
    }
    .menu:focus {
        background: linear-gradient(
            117deg,
            rgba(255, 122.4, 0, 0.9) 0%,
            rgba(255, 0, 107, 0.9) 100%
        );
        box-shadow: 0px 5px 15px rgba(255, 0, 107, 0.3);
        color: white;
    }
    .menu:visited {
        background-color: rgb(255, 255, 255, 0);
        color: black;
    }
</style>

<div class="bar">
    <div>
        <button class="menu"><a href="/hosters/main/" class="menu">main</a></button>

        <button class="menu"><a href="/hosters/login/" class="menu">login</a></button>

        <hi class="title"><span>Hosters</span></hi>

        <button class="menu"><a href="/hosters/join/"  class="menu">join</a></button>

        <button class="menu"><a href="/hosters/mypage/"  class="menu">my page</a></button>
    </div>
</div>

